:root {
  --background: black;
  --white: white;
  height: 100vh;
}
* {
  /* outline: 1px solid limegreen !important; */
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 6vh);
  background-color: var(--background);
  border-top: 5px solid var(--white);
  border-bottom: 5px solid var(--white);
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

.net {
  height: 100vh;
  grid-column-start: 6;
  border-left: 5px dashed var(--white);
}
.score {
  background-color: transparent;
  font-size: 300%;
  color: var(--white);
  padding: 5px;
}

.score-left {
  grid-column-start: 4;
}

.score-right {
  grid-column-start: 7;
}

.paddle {
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: sans-serif;
  font-size: 300%;
}

.paddle-left {
  grid-column-start: 2;
  grid-row-start: 8;
}

.paddle-right {
  grid-column-start: 9;
  grid-row-start: 5;
}

.ball {
  grid-column-start: 6;
  grid-row-start: 8;
  background-color: transparent;
  font-size: 250%;
  color: var(--white);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
