:root {
  --primary-color: green;
  --secondary-color: yellow;
  --header-size: 4rem;
  --font: 2.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font);
}

.container {
  max-width: 100rem;
  height: 8rem;
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
}

.box {
  width: 300px;
  flex-grow: 1;
  flex-basis: 20rem;
}

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: red;
}

.box3 {
  background-color: green;
}

@media screen and (max-width: 900px) {
  .box1 {
    background-color: black;
  }
  .box2 {
    background-color: black;
  }
  .box3 {
    background-color: black;
  }
}

@media screen and (max-width: 600px) {
  .box1 {
    background-color: red;
  }
  .box2 {
    background-color: red;
  }
  .box3 {
    background-color: red;
  }
}

/* header {
  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);
}

main {
  width: 100vw;
  height: 20vh;
  font-size: 1.5rem;
}

h1 {
  color: darkcyan;
  font-size: 3rem;
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--secondary-color);
} */
