:root {
  --primary-color: #ffffff;
  --secondary-color: #593c8f;
  --header-size: 4rem;
  --font: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font);
}

body {
  background-color: var(--primary-color);
  padding: 10%;
}

.container {
  background-color: var(--secondary-color);
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 5%;
  align-content: center;
  justify-content: justify;
  align-items: center;
}

.column {
  display: flex;
  place-items: center;
  gap: 15%;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.aAsButton {
  background: #b9d6f2;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2%;
  border-radius: 0.2em;
  font-size: 1em;
  min-width: 40%;
  text-align: center;
}

.box {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #b9d6f2;
  display: grid;
  margin: 2px;
}

.button {
  background-color: #4583f7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
}

.button:hover {
  background-color: #4583f7;
  color: #b9d6f2;
}

table,
td,
th {
  border: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 610px) {
  .aAsButton:nth-child(2) {
    margin-top: 10%;
  }
}

.moon-left,
.moon-right {
  cursor: default;
}

.moon-left:hover {
  filter: drop-shadow(2px 4px 6px black);
  transition: 0.3s;
}

.moon-left {
  filter: none;
  transition: 0.3s;
}

.moon-right {
  transition: 0.3s;
  transform: rotate(0deg);
}

.moon-right:hover {
  filter: hue-rotate(45deg);
  transition: 0.3s;
  transform: rotate(180deg);
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4583f7;
  color: var(--secondary-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.3s;
  background-color: darkslateblue;
  color: var(--primary-color);
}

.form-div {
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 20px;
}

.form-textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.form-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1em;
}

.alien-emoji {
  animation: alien-movement 1.2s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
  cursor: default;
}

@keyframes alien-movement {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
